
<mat-tab-group class="stats">
  <mat-tab label="Clienti">
    <app-money-stats></app-money-stats>
  </mat-tab>
  <mat-tab label="Cibi più venduti">
    <app-food-stats></app-food-stats>
  </mat-tab>
  <mat-tab label="Bibite più vendute">
    <app-drink-stats></app-drink-stats>
  </mat-tab>
  <mat-tab label="Camerieri">
    <app-waiter-stats></app-waiter-stats>
  </mat-tab>
  <mat-tab label="Cuochi">
    <app-cook-stats></app-cook-stats>
  </mat-tab>
  <mat-tab label="Baristi">
    <app-barman-stats></app-barman-stats>
  </mat-tab>
  <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>
